{% include 'header.html' %}
<script src="{{ url_for('static',filename='js/books.js') }}"></script>
<body>
  <div class="container-fluid" id="main">
	{% include 'top_menus.html' %}  	
    <div class="row row-offcanvas row-offcanvas-left">   
	  {% include 'left_menus.html' %}	
      <div class="col-md-9 col-lg-10 main"> 
		<h3>List Peminjaman Aktif</h3>
			<br>
			<div class="float-right mb-2 col-md-2">
				<button type="button" id="pinjamBook" class="btn btn-info" title="Add Peminjaman"><span class="glyphicon glyphicon-plus">Peminjaman</span></button>
			</div>
			<div class="float-right mb-2">
				<button type="button" id="pengembalianBook" class="btn btn-info" title="Add Pengembalian"><span class="glyphicon glyphicon-plus">Pengembalian</span></button>
			</div>
			<br><br>			
			<table class="table table-striped">
			<thead>
			  <tr>
				<th><h6>No</h6></th>
				<th><h6>Nim</h6></th>
				<th><h6>Nama</h6></th>
				<th><h6>Judul Buku</h6></th>	
				<th><h6>Tgl Pinjam</h6></th>		
				<th><h6>Batas Peminjaman</h6></th>
				<th><h6>Denda</h6></th>		
				<th><h6>Status</h6></th>		
				<th><h6>Petugas</h6></th>
				<th><h6>Action</h6></th>

			  </tr>
			</thead>
			<tbody>
				{%for data in datas%}
				  <tr>		
					<td>{{loop.index}}</td>		
					<td>{{data[1]}}</td>
					<td>{{data[10]}}</td>
					<td>{{data[2]}}</td>
					<td>{{data[3]}}</td>
					<td>{{data[4]}}</td>
					<td>{{data[7]}}</td>
					<td>{{data[6]}}</td>	
					<td>{{data[9]}}</td>	
				<td><a href="{{url_for('admin_bp.update_deadline', id=data[0])}}" onclick="return confirm('Update Batas Pinjam???')" 
					id="Perpanjang" class="btn btn-primary">Perpanjang</a></td>
				  </tr>
				  
				  {%endfor%} 
			</tbody>
		  </table>	      
        <hr>         
       </div>       
      </div>     
    </div>

	
	<div id="pemgembalianModal" class="modal fade">
		<div class="modal-dialog">
			<form method="post" id="bookForm" action="{{url_for('admin_bp.pengembalian')}}">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title"><i class="fa fa-plus"></i></h4>
					</div>
					<div class="modal-body">												
							<div class="form-group">
								<label for="status" class="control-label">Nim Anggota</label>							
								<select class="form-control" id="status" name="nim">
								<!-- <option value="">Select</option>							 -->
								{%for nim in result%}
									{%for x in nim%}
									<option value="{{x}}" selected="selected" >{{x}}</option>
									{%endfor%}
								{%endfor%}							
								</select>							
							</div>	
							<div class="form-group">
								<label for="status" class="control-label">Judul Buku</label>							
								<select class="form-control" id="status" name="judul">
								<!-- <option value="">Select</option> -->
								{%for judul in judul_buku%}
									{%for x in judul%}					
									<option value="{{x}}" selected="selected" >{{x}}</option>
									{%endfor%}
								{%endfor%}								
								</select>							
							</div>																								
					</div>
					<div class="modal-footer mt-0">
						<input type="submit" name="save" id="save" class="btn btn-info" value="Save" />
						<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
					</div>
				</div>
			</form>
		</div>
	</div>	
			
	<div id="pinjamModal" class="modal fade">
		<div class="modal-dialog">
			<form method="post" id="bookForm" action="{{url_for('admin_bp.pinjam')}}">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title"><i class="fa fa-plus"></i></h4>
					</div>
					<div class="modal-body">												
							<div class="form-group">
								<label for="status" class="control-label">Nim Anggota</label>							
								<select class="form-control" id="status" name="nim">
								<!-- <option value="">Select</option>							 -->
								{%for nim in result%}
									{%for x in nim%}
									<option value="{{x}}" selected="selected" >{{x}}</option>
									{%endfor%}
								{%endfor%}								
								</select>							
							</div>	
							<div class="form-group">
								<label for="status" class="control-label">Judul Buku</label>							
								<select class="form-control" id="status" name="judul">
								<!-- <option value="">Select</option> -->
								{%for judul in judul_buku%}
									{%for x in judul%}					
									<option value="{{x}}" selected="selected" >{{x}}</option>
									{%endfor%}
								{%endfor%}								
								</select>							
							</div>																								
					</div>
					<div class="modal-footer mt-0">
						<input type="submit" name="save" id="save" class="btn btn-info" value="Save" />
						<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
					</div>
				</div>
			</form>
		</div>
	</div>	
  </body>
</html>