{% include 'header.html' %}
<body>
  <div class="container-fluid" id="main">
	{% include 'top_menus.html' %}  	
    <div class="row row-offcanvas row-offcanvas-left">   
	  {% include 'left_menus.html' %}	
      <div class="col-md-9 col-lg-10 main"> 
		<h3>List History Peminjaman</h3>
			<br>
			<br><br>			
			<table class="table table-striped">
			<thead>
			  <tr>
				<th><h6>No</h6></th>
				<th><h6>Judul Buku</h6></th>	
				<th><h6>Tgl Pinjam</h6></th>		
				<th><h6>Batas Peminjaman</h6></th>
				<th><h6>Tgl Dikembalikan</h6></th>
				<th><h6>Denda</h6></th>			
			  </tr>
			</thead>
			<tbody>
				{%for data in datas%}
				  <tr>				
					<td>{{loop.index}}</td>
					<td>{{data[0]}}</td>
					<td>{{data[1]}}</td>
					<td>{{data[2]}}</td>
					<td>{{data[3]}}</td>
					<td>{{data[4]}}</td>	
				  </tr>
				  
				  {%endfor%} 
			</tbody>
		  </table>	      
        <hr>         
       </div>       
      </div>     
    </div>