<nav class="navbar navbar-expand-sm bg-dark">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
     <span class="navbar-toggler-icon"></span>
    </button>    
    <div class="navbar-collapse collapse" id="collapsingNavbar">
      <ul class="navbar-nav">
        <li class="nav-item active">
			{%if session['role'] == 'admin'%}
           <h1><a class="nav-link" href="{{url_for('admin_bp.dashboard')}}">Management Perpus<span class="sr-only">LMS</span></a></h1>
		   {%else%}
           <h1><a class="nav-link" href="{{url_for('admin_bp.dashboard')}}">Dashboard User<span class="sr-only">LMS</span></a></h1>
          
			{%endif%}
        </li>       
      </ul> 	
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
     
      {% for category, message in messages %}
      <!-- alert -->
      <div id="myAlert" class="alert alert-{{category}} alert-dismissible fade show ml-auto" role="alert">
        <div class="container">
          <div class="pl-5 pt-1">
            <strong> <h6>{{ message }}</h6></strong>
          </div>   
        </div>
          
      </div>
      {% endfor %}
  {% endif %}
  {% endwith %}
	  <ul class="navbar-nav ml-auto ml-0">		
			<li class="nav-item">
				<h4><a class="nav-link" id="update_me" data-bs-toggle="modal" data-bs-target="#update_me" href="">Hallo {{session['nama']}} </a> </h4>
			</li>		
      </ul>	  
    </div>	
    <script>
     setTimeout(function() {
  var alertElement = document.getElementById('myAlert');
  alertElement.classList.remove('show');
  alertElement.classList.add('hide');
}, 3500);
</script>
  </nav>
  
  
  