{% include 'header.html' %}
<script src="{{ url_for('static',filename='js/user.js') }}"></script>
<body>
  <div class="container-fluid" id="main">
	{% include 'top_menus.html' %}  	
    <div class="row row-offcanvas row-offcanvas-left">   
	  {% include 'left_menus.html' %}	
      <div class="col-md-9 col-lg-10 main"> 
		<h3>List Anggota</h3>
			<br>
			<div class="float-right mb-2 col-md-2">
				<button type="button" id="addUser" class="btn btn-info" title="Add User"><span class="glyphicon glyphicon-plus">Add User</span></button>
			</div>
			<br><br>
			<table class="table table-striped">
			<thead>
			  <tr>
				<th><h6>No</h6></th>
				<th><h6>Nim</h6></th>
				<th><h6>Nama</h6></th>
				<th><h6>Email</h6></th>				
				<th><h6>Alamat</h6></th>
				<th><h6>No Telpon</h6></th>
				<th><h6>Petugas</h6></th>
				{%if session['role'] == 'admin'%}
				<th><h6>Action</h6></th>
				{%endif%}
			  </tr>
			</thead>
			<tbody>
			  {% for data in datas %}
			  <tr>
				<td>{{loop.index}}</td>
				<td>{{data[0]}}</td>
				<td>{{data[1]}}</td>
				<td>{{data[2]}}</td>
				<td>{{data[4]}}</td>	
				<td>{{data[5]}}</td>	
				<td>{{data[9]}}</td>	
				<td><a href="{{url_for('admin_bp.show_anggota', uid=data[8])}}" class="btn btn-primary">Edit</a></td>		
				{%if session['role'] == 'admin'%}	
				<td><a href="{{url_for('admin_bp.delete_user', nim=data[0])}}" 
					onclick="return confirm('yakin akan menghapus Data ???')" class="btn btn-danger">Delete</a></td>
				{%endif%}
			  </tr> 
			{% endfor %}	  
			</tbody>
		  </table>	        
        <hr>         
       </div>       
      </div>     
    </div>
	<div id="userModal" class="modal fade">
		<div class="modal-dialog">
			<form method="post" id="userForm" action="{{ url_for('admin_bp.add_anggota')}}">
				<div class="modal-content">
					<div class="modal-header">						
						<h4 class="modal-title"><i class="fa fa-plus"></i> Add User</h4>
					</div>
					<div class="modal-body">						
						
						<div class="form-group">							
							<label for="first name" class="control-label">Nim</label>							
							<input type="text" name="nim" id="first_name" autocomplete="off" class="form-control" required/>
											
						</div>
						<div class="form-group">
							<label for="email" class="control-label">Nama</label>
							<input type="text" class="form-control" id="email" name="nama" required >			
						</div>
						<div class="form-group">
							<label for="email" class="control-label">Email</label>
							<input type="email" class="form-control" id="email" name="email" required>			
						</div>
						
						<div class="form-group">
							<label for="new password" class="control-label">Password</label>
							<input type="password" class="form-control" id="password" name="password"  required >			
						</div>
						<div class="form-group">
							<label for="last name" class="control-label">Alamat</label>
							<input type="text" class="form-control" id="last_name" name="alamat" required >			
						</div>	
						<div class="form-group">
							<label for="last name" class="control-label">No Telepon</label>
							<input type="number" class="form-control" id="last_name" name="no_tlp" required>			
						</div>	
										
					</div>
					<div class="modal-footer">
						<input type="hidden" name="userid" id="userid" />						
						<input type="hidden" name="action" id="action" value="" />
						<input type="submit" name="save" id="save" class="btn btn-info" value="Save" />
						<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
					</div>
				</div>
			</form>
		</div>
	</div>
  </body>
</html>